# API Configuration
VITE_API_BASE_URL=http://spmwsm02x3zd.saipemnet.saipem.intranet/MeetingBookingApi/api/v1
VITE_SERVER_URL=http://spmwsm02x3zd.saipemnet.saipem.intranet/MeetingBookingApi

# Environment
VITE_NODE_ENV=development
