<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- Rewrite rules to redirect all traffic to Node.js application -->
    <rewrite>
      <rules>
        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <match url="/*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Security settings -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    
    <!-- IISNode settings -->
    <iisnode 
      node_env="production"
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
    
    <!-- Error pages -->
    <httpErrors errorMode="Detailed" />
    
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.js" />
      </files>
    </defaultDocument>
    
    <!-- Static content caching -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
    </staticContent>
    
  </system.webServer>
</configuration>