<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- indicates that the hello.js file is a node.js application -->
    <handlers>
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- rewrite rules for node.js application -->
    <rewrite>
      <rules>
        <!-- Redirect all requests to the Node.js application -->
        <rule name="DynamicContent">
          <match url="/*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="dist/index.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- exclude node_modules directory and subdirectories from serving by IIS -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
          <add segment="node_modules"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- 
    You can control how Node is hosted within IIS using the following options:
      * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
      * node_env: will be propagated to node as NODE_ENV environment variable
      * debuggingEnabled - controls whether the built-in debugger is enabled
    
    See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config for a full list of options
    -->
    <iisnode 
      watchedFiles="web.config;*.js;dist\*.js"
      node_env="production"
      loggingEnabled="true"
      logDirectory="iisnode"
      devErrorsEnabled="true"
    />
    
    <!-- Error pages -->
    <httpErrors errorMode="Detailed"/>
    
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="dist/index.js" />
      </files>
    </defaultDocument>
    
  </system.webServer>
</configuration>